In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt

In [17]:
dados = pd.read_csv("Dados\credit_data.csv")
dados

      i#clientid        income        age         loan  c#default
0              1  66155.925095  59.017015  8106.532131          0
1              2  34415.153966  48.117153  6564.745018          0
2              3  57317.170063  63.108049  8020.953296          0
3              4  42709.534201  45.751972  6103.642260          0
4              5  66952.688845  18.584336  8770.099235          1
...          ...           ...        ...          ...        ...
1995        1996  59221.044874  48.518179  1926.729397          0
1996        1997  69516.127573  23.162104  3503.176156          0
1997        1998  44311.449262  28.017167  5522.786693          1
1998        1999  43756.056605  63.971796  1622.722598          0
1999        2000  69436.579552  56.152617  7378.833599          0

[2000 rows x 5 columns]

In [18]:
dados.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [20]:
dados.columns = ["Cliente", "renda", "idade", "empréstimo", "padrao"]
dados

      Cliente         renda      idade   empréstimo  padrao
0           1  66155.925095  59.017015  8106.532131       0
1           2  34415.153966  48.117153  6564.745018       0
2           3  57317.170063  63.108049  8020.953296       0
3           4  42709.534201  45.751972  6103.642260       0
4           5  66952.688845  18.584336  8770.099235       1
...       ...           ...        ...          ...     ...
1995     1996  59221.044874  48.518179  1926.729397       0
1996     1997  69516.127573  23.162104  3503.176156       0
1997     1998  44311.449262  28.017167  5522.786693       1
1998     1999  43756.056605  63.971796  1622.722598       0
1999     2000  69436.579552  56.152617  7378.833599       0

[2000 rows x 5 columns]

In [6]:
dados.shape

(2366, 7)

In [22]:
x = dados[["renda", "idade", "empréstimo"]]
y = dados["padrao"]

In [23]:
from sklearn.model_selection import train_test_split

SEED = 158020
np.random.seed(SEED)

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25, stratify = y)

In [31]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.dummy import DummyClassifier

dummy_stratified = DummyClassifier()
dummy_stratified.fit(treino_x, treino_y)
acuracia = dummy_stratified.score(teste_x, teste_y) * 100

print("A acuracia do dummy stratified foi %.2f%%" % acuracia)

A acuracia do dummy stratified foi 77.00%

C:\Users\RafaelHenriqueGallo\Anaconda\lib\site-packages\sklearn\dummy.py:132: FutureWarning: The default value of strategy will change from stratified to prior in 0.24.
  "stratified to prior in 0.24.", FutureWarning)